{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   <link rel="stylesheet" type='text/css' href="{% static 'frontend/home.css' %}">

</head>

<body>
    <div>
        <div class="ws2-login-page-bg-container">
            <div class="ws2-login-page-text-card">
              {% if messages%}
               {% for message in messages%}
              <div class="alert alert-success" role="alert">
              {{message}}
              </div>
             {% endfor%}
             {% endif %} 
                <h1 class="ws2-login-page-text-card-heading">Online Reporting Module for M. Tech students</h1>
                <img src="https://somnitwarangal.files.wordpress.com/2020/08/cropped-tdxht.jpg" class="ws2-login-page-nitw-image" />
                <div>
                    <ul class="ws2-login-page-text-card-list-color">
                        <li>students must select the student option below to enrol yourselves</li>
                        <li>After clicking on the student button you need to fill the required details and submit them</li>
                    </ul>
                    <p class="ws2-login-page-text-card-para">Note: All admins are requested to make their login by clicking on the Admin button</p>
                </div>


                <div class="ws2-login-page-button-style">
                    <button class="btn btn-success">
                        <a href="{% url 'reg_validate'%}">student</a>
                    </button>
                    <button class="btn btn-warning button">
                        <a href="{% url 'student_login'%}">Admin</a>
                    </button>
                </div>

            </div>
        </div>
    </div>
</body>

</html>