{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <link rel="stylesheet" type='text/css' href="{% static 'frontend/login.css' %}">

    <title>Welcome!</title>
  

   </head>
  <body>
   

    <!-- Optional JavaScript; choose one of the two! -->

     <form method='POST'>
      {% csrf_token %}
     <div class="userlogin">
       <h1>login here</h1>
        {% if messages%}
     {% for message in messages%}
      <div class="alert alert-danger" role="alert">
   {{message}}
</div>
     {% endfor%}
     {% endif %} 
       <div class="form-floating mb-3">
  <input type="username" class="form-control" id="floatingInput" placeholder="xyz123!" name="username">
  <label for="floatingInput">Username</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
  <label for="floatingPassword">Password</label>

  <div class="button-style">
    <button type="submit" class="btn btn-primary">Login</button>
    <button type="reset" class="btn btn-primary">Reset</button>
    <br>
     <small class="text-muted mt-3">Need an account? <a href="{% url 'admin-signup' %}" class="ml-2">Sign Up</a></small>
  </div>

</div>

     </div>
     
</form>




    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
 {% endcomment %}






{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" type='text/css' href="{% static 'frontend/login.css' %}">

    <title>Welcome!</title>
</head>

<body>
    <div class="bg-container">
        
        <!-- Optional JavaScript; choose one of the two! -->

        <form method='POST'>
        {% csrf_token %}
            <div class="userlogin">
                <h1 class="main-heading">Login</h1>
                  {% if messages%}
                  {% for message in messages%}
                  <div class="alert alert-danger" role="alert">
                  {{message}}
                  </div>
                  {% endfor%}
                  {% endif %} 
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="xyz123" name="username" Required>
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" Required>
                    <label for="floatingPassword">Password</label>

                    <div class="button-style">
                        <button type="submit" class="btn btn-success">Login</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>

                    <div>
                        <small class="text-muted mt-3">Need an account? <a href="{% url 'admin-signup' %}" class="ml-2">Sign Up</a></small>
                    </div>

                </div>

            </div>

        </form>




        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
            -->
    </div>
</body>

</html>